/*body {
  font-size: 17px;
  overflow-x: hidden;
  background-color: #ccc;
  font-family: 'Oxygen', sans-serif;
}*/
ul, nav, body, h1, h2, h4, h6, p, figure {
  margin: 0;
  padding: 0;
}

a, button { transition: all 0.3s ease; }

/* Bootstrap grid system  */

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.tm-container-inner,
.tm-container-inner-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-md-4,
.col-md-6,
.col-sm-6, 
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.tm-mb-45 {
  margin-bottom: 45px;
}

.tm-mb-p {
    margin-bottom: 20px;
}

.tm-text-success {
  color: black;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}



body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 17px;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

.container {
  background-color: white;
}

p, address {
  color: pink;
  line-height: 1.8;
}

/* Set width and height in JS */
.placeholder {
  width: 100%!important;
  min-height: 460px!important;
  background-color: ;
}

/*.placeholder-2 {
  width: 100%;
  min-height: 220px;
  background-color: #CFBEA5;
  position: relative;
  z-index: 998;
}*/

.parallax-window {
  min-height: 460px !important;
  background: transparent !important;
  position: relative !important;
}

/*.parallax-window-2 {
  min-height: 220px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  position: relative;
}*/

.parallax-mirror {
  z-index: 999 !important;
}

.tm-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1000;
}

.tm-header-inner {
  padding: 40px 50px;
}

@media (max-width: 991px) {
  .tm-header-inner {
    padding: 30px 15px;
  }
}

.tm-site-logo {
  display: inline-block;
  margin-right: 10px;
}

.tm-site-text-box {
  display: inline-block;
}

.tm-site-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5px;

}

.tm-site-description {
  font-size: 20px;
  font-weight: 400;
}

.tm-nav {
  text-align: right;
  margin-top: 30px;
}

.tm-nav-ul {
  display: flex;
  justify-content: flex-end;
}

.tm-nav-li {
  list-style: none;
  display: block;
  margin-bottom: 0;
  padding-right: 25px;
  padding-left: 25px;
}

@media (max-width: 991px) {
  .tm-nav-li {
    padding-right: 10px;
    padding-left: 15px;
  }
}

.tm-nav-link {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 10px;
}

.tm-nav-link.active,
.tm-nav-link:hover {
  
  color: white;
}

.tm-welcome-section {
  margin: 60px auto;
  max-width: 655px;

}

.tm-section-title {
  font-size: 35px !important;
  font-weight: bold;
  margin-bottom: 30px;
  color: brown;
}
.tm-section-title-1{
  font-size: 17.5px;
  color: black;

  
}

.tm-gallery {
  margin-bottom: 80px;
}

.tm-gallery-page {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tm-gallery-description {
  font-size: 16px !important;
}

.tm-section,
.tm-container-inner,
.tm-container-inner-2 {
  margin-left: auto;
  margin-right: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .tm-gallery-page {
    max-width: 560px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .tm-gallery-page,
  .tm-section,
  .tm-container-inner,
  .tm-container-inner-2 {
    max-width: 840px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .tm-gallery-page,
  .tm-section {
    max-width: 1120px;
  }
  
  .tm-container-inner {
    max-width: 1120px;
  }
  
  .tm-container-inner-2 {
    max-width: 900px;
  }
}

.tm-gallery-item {
  max-width: 280px;
}

.tm-gallery-img {
  margin-bottom: 20px;
}

.tm-gallery-title {
  font-size: 20px;
  font-weight: bold;
  color: brown;
  margin-bottom: 15px;
}

.tm-gallery-description {
  margin-bottom: 18px;
  color: black;
}

.tm-gallery-price {
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-bottom: 60px;
}

.tm-paging-links {
  text-align: center;
  margin-bottom: 40px;
}

.tm-paging-item {
  list-style: none;
  display: inline-block;
  border: 2px solid black;
  margin: 7px;
}

.tm-paging-link {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: orange;
  font-weight: bold;
  background-color: transparent;
}

.tm-paging-link.active,
.tm-paging-link:hover {
  background-color: black !important;
  color: orange;
}



footer {
  background-color: #f3f3f3;
  border-top: 4px solid black;
  margin-top: 120px;
}
.bottom-footer{
  text-align: center;
}


.tm-right {
  align-self: flex-end;
}


.tm-info-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
  color: brown;

}
.tm-social-link {
  color: green !important;
  display: inline-block;
  border-radius: 1px;
  background-color: transparent;
  font-size: 1.3rem;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin-right: 0;
  margin-bottom: 15px;
}

.tm-social-link:hover {
  color: white;
  background-color: black;
}

.tm-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

address {
  font-style: normal;
  margin-bottom: 50px;
  color: black;
}

.tm-address-box {
  max-width: 100% !important;
}

@media (min-width: 768px) {
 .tm-address-box {
    max-width: 315px;
  } 
}



.tm-contact-icon {
  display: inline-block;
  margin-right: 25px;
  color: black;
}

.tm-contact-link {
  display: inline-block;
  color: black;
  margin-bottom: 25px;
  text-decoration: none;
}

.tm-contact-social {
  margin-top: 10px;
}

.tm-map {
  max-width: 900px !important;
  height: 450px !important;
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.tm-map iframe {
  width: 100% !important;
  height: 100% !important;
}
.tm-contact-section {
  padding-bottom: 10px !important;
}

.tm-map-section {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

@keyframes changeIcon {
  0% {
    content: '\f0d9';
  }
  50% {
    color: white;
  }
  100% {
    content: "\f0d7";
  }
}

@keyframes changeIconBack {
  0% {
    content: '\f0d7';
  }
  50% {
    color: white;
  }
  100% {
    content: "\f0d9";
  }
}









